<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>YouTube Transcript Summarizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>YouTube Transcript Summarizer</h1><br><br>
      <div id="input">
        <form method="POST">
          <div id="inp">
            <label for="link" id="linkLabel">Youtube Video Link:</label><br>
            <input type="text" id="link" name="link" placeholder="Paste Here"><br>
          </div> <br>
          <button type="button" id="clear" onclick="clear()">Clear</button>
          <button type="submit" id="submit">Submit</button> <br> <br>
          <button type="button" id="ts">Convert To Speech</button>
          <button type="button" id="reset">Reset Speech</button> <br> <br>
          <label for="method" id="methodLabel">Summarization Method:</label>
          <select id="method" name="method">
            <option value="nlp">NLP</option>
            <option value="ml">ML</option>
          </select>
          <p>Project by Harshavardhan and Surya</p>
        </form>
      </div>
      <div id="summary">
        <textarea name="s1" id="s1" placeholder="The Summarized text will appear here...">{{value}}</textarea>
      </div>
  </body>
  <script src="{{ url_for('static', filename='function.js') }}"></script>
</html>